module.exports = {
  repository: {
    // GitHub user of the destination repository
    owner: '<GITHUB_USER>',
    // destination repository name
    name: '<REPOSITORY_NAME>',
  },
  mailer: {
    // recipient for approbation emails
    approver: {
      email: '<APPROVER_EMAIL>',

    },
    // sender email for confirmation emails
    administrator: {
      email: '<ADMINISTRATOR_EMAIL>',
    },
    // sender email for approbation emails
    bot: {
      email: '<BOT_EMAIL>',
    },
  },
  frontend: {
    // URL to redirect user to after email is confirmed
    website: 'http://localhost:4000',
    // URL of this server
    api: 'http://localhost:3000',
  },
};
