p Thank you for your interest in cybersecurity.

p Here is the information you provide:

ul
  each val, index in data.formResponse
    li
      strong #{data.formResponse[index].title}
      br
      | #{data.formResponse[index].value}

p Please check your infos and confirm your e-mail by clicking on the link below within seven days:
  br
  a(href=linkUrl)
    strong Verify address

p
  small The link doesn't work? Copy the following link in the address bar of your browser:
  br
  | #{linkUrl}
