| ---
| name: #{data.formResponse.name.value}
| category: #{data.formResponse.category.value}
| nature:
| nationality: #{data.formResponse.state.value}
| alliance:
| date_signed: #{new Date(data.date_signed).toISOString().slice(0,10)}
| ---
|
