p Thank you for suggesting an event. Here is the information you provided:

ul
  each val, index in data.formResponse
    li
      strong #{data.formResponse[index].title}
      br
      | #{data.formResponse[index].value}

p If everything is correct, please confirm your email by clicking on the link below&nbsp;
  strong within seven days:
  br
  a(href=linkUrl)
    strong Verify email address

p
  small The link doesn't work? Copy the following link in the address bar of your browser:
  br
  | #{linkUrl}
